modules = ["web", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Serve Website"

[[workflows.workflow]]
name = "Serve Website"
author = 26260739
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx http-server html -p 5000 --bind 0.0.0.0"

[deployment]
run = ["sh", "-c", "npx http-server html -p 5000 --bind 0.0.0.0"]
